@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
  color: #09090b;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nav-container {
  height: 79.56px;
}

.card {
  max-width: 160px;
  margin: auto 1.5rem;
}

.react-multi-carousel-arrow--left {
  left: 20px;
}

.react-multi-carousel-arrow--right {
  right: 20px;
}

a {
  text-decoration: none;
}

.nav-link {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 10rem;
  transform: translateY(10px);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  box-shadow: 0 2px 4px rgba(0, 0.2, 0, 0.5);
}

.dropdown ul {
  position: relative;
}

.dropdown-link > a {
  display: flex;
  background-color: #fff;
  color: #000000;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  align-items: center;
  justify-content: space-between;
}

.dropdown-link:hover > a {
  background-color: #ececec;
  color: #000000;
}

.dropdown-link:not(:nth-last-child(2)) {
  border-bottom: 1px solid #efefef;
}

.dropdown-link {
  position: relative;
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown {
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: auto;
}

@keyframes animation {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.react-multi-carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Quiddita copied */

.pages {
  h2 {
    @media (min-width: 1200px) {
      font-size: 38px;
      line-height: 38px;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      font-size: 35px;
      line-height: 35px;
    }
    @media (min-width: 576px) and (max-width: 991px) {
      font-size: 33px;
      line-height: 33px;
    }
  }
  h3 {
    color: var(--text-color);
    text-transform: none;
    margin: 0px;
    padding: 0px 0px 10px 0px;

    @media (min-width: 1200px) {
      font-size: 35px;
      line-height: 35px;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      font-size: 32px;
      line-height: 32px;
    }
    @media (min-width: 576px) and (max-width: 991px) {
      font-size: 31px;
      line-height: 31px;
    }
  }
}

b{
  color: #8C2328;
}

.separator {
  display: block;
  width: 100px;
  border-top: 5px solid #8C2328;; /* Updated line */
  line-height: 0.4em;
  margin: 0.8em 0 1.8em 0;
}

.pages__separator--width-100px {
  width: 100px;
}

.pages__separator--centered {
  margin: 0.8em auto 1.5em auto;
}

.pages__title {
  color: var(--text-color);
  text-transform: none;
  margin: 0px;
  padding: 0px 0px 10px 0px;

  @media (min-width: 1200px) {
    font-size: 44px;
    line-height: 44px;
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    font-size: 38px;
    line-height: 38px;
  }
  @media (min-width: 576px) and (max-width: 991px) {
    font-size: 33px;
    line-height: 33px;
  }
}

.pages__subtitle {
  color: var(--text-color);
  text-transform: none;
  margin: 0px;
  padding: 0px 0px 10px 0px;

  @media (min-width: 1200px) {
    font-size: 26px;
    line-height: 30px;
  }
  @media (min-width: 576px) and (max-width: 1199px) {
    font-size: 24px;
    line-height: 28px;
  }
}